body {
    background-color: #b2f27b;
    height: 100%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    font-size: 28px;
    padding-bottom: 10px;
}

#rules {
    font-size: 18px;
    padding-bottom: 10px;
}

#image {
    padding-bottom: 10px;
}

#status {
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}





